# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\J\PGRF3\project1PGRF3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
